/array.erlide_doc_x
/egd.erlide_doc_x
/erlang.erlide_doc_x
/file.erlide_doc_x
/io.erlide_doc_x
/io_lib.erlide_doc_x
/lists.erlide_doc_x
/math.erlide_doc_x
/os.erlide_doc_x
/queue.erlide_doc_x
/string.erlide_doc_x
/timer.erlide_doc_x
/wx.erlide_doc_x
/wxDC.erlide_doc_x
/wxFrame.erlide_doc_x
