/org.eclipse.core.resources.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.jdt.core.prefs
/org.eclipse.jdt.launching.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.search.prefs
/org.eclipse.ui.editors.prefs
/org.eclipse.ui.ide.prefs
/org.eclipse.ui.prefs
/org.eclipse.ui.workbench.prefs
/org.erlide.core.prefs
/org.erlide.ui.prefs
